body.dark {
  background: #121212;
  color: white;
  .container {
    background-color: #212121;
  }
  .header {
    color: #fff
  }
  .search-box {
   border: 1px solid #fff;
  }
  .search-button {
    background-color: #79B8F2;
    border-bottom: 1px solid #79B8F2;
  }
}

.toggle-button {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.search-box {
  border: 1px solid #e6e4e4;
  padding: 11px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
  width: 72%;
}

.search-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #4A90E2;
  color: #fff;
  border-bottom: 1px solid #4A90E2;
}

.search-button:focus {
  outline: none;
  box-shadow: none;
}

.search-box:focus {
  outline: none;
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 50px auto;
    max-width: 450px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', 'Roboto', sans-serif;
    color: #333333;
}

.filters {
margin-top: 20px;
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 20px;
}
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  background: #f5f5f5;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* optional for smooth dragging */
  transition: background 0.2s ease;
  p{
    flex-grow: 1;
    margin: 0;
    word-break: break-word;
    margin-inline: 10px;
  }
}

.task-item.added {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
